[Desktop Entry]
Name=Hel-Web-Server
Comment=A local web server for development and project hosting.
Exec=/bin/bash -c "cd /opt/hel-web-server && python3 -m venv venv && source venv/bin/activate && python3 hel_web_server.py"
Icon=/opt/hel-web-server/gui/resources/icon.png
Terminal=false
Type=Application
Categories=Development;Network;WebDevelopment;
StartupNotify=true
Keywords=web;server;http;development;hosting;linux;helwan;