[Desktop Entry]
Name=Hel-Web-Server
Comment=A local web server for development and project hosting.
Exec=/usr/bin/hel-web-server
Icon=hel-web-server
Terminal=false
Type=Application
Categories=Development;Network;WebDevelopment;
StartupNotify=true
Keywords=web;server;http;development;hosting;linux;helwan;
